.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-page {
  background-image: url("../../assets/cat-auth-bg.png");
  background-size: cover;
  height: 60vh;

  form {
    margin-top: 30%;
  }
}
