<section class="container">
  @if (funFactsStream$ | async; as funFacts) {
    <section class="row">
      @for (funFact of funFacts; track $index) {
        <section class="col-md-4 col-12 d-flex align-items-center py-3">
          <app-cat-element
            [index]="$index"
            class="w-100 h-100" [funFact]="funFact"></app-cat-element>
        </section>
      }
    </section>
  }

  @if (streamCompleted$ | async) {
    <section class="row">
      <h1>That's all the fun facts for now.</h1>
    </section>
  } @else {
    <div class="padding-bottom"></div>
  }

</section>
